.board-container {
    padding: 10px;
    background-color: var(--color-primary-bg);
    height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.board-container h2 {
    color: var(--color-text-dark); 
    margin-top: 0;
    margin-bottom: 10px;
    padding-left: 8px;
}

.columns-container {
    display: flex;
    flex-grow: 1;
    overflow-x: auto;

    scrollbar-width: thin;
    scrollbar-color: var(--color-muted-green) var(--color-very-light-greenish-gray); 
}

.columns-container::-webkit-scrollbar {
    height: 12px;
}

.columns-container::-webkit-scrollbar-thumb {
    background-color: var(--color-muted-green);
    border-radius: 6px;
    border: 3px solid var(--color-very-light-beige);
}

.columns-container::-webkit-scrollbar-track {
    background: var(--color-very-light-greenish-gray);
}

.add-column-button {
  background-color: var(--color-accent); 
  color: white; 
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.add-column-button:hover {
  background-color: var(--color-dark-muted-green);
    border-color: var(--color-muted-green); 
}

.add-column-button:focus {
    outline: none;
}

@media (max-width: 768px) { 
    .board-container {
      padding: 10px;
      height: auto; 
      overflow-y: auto; 
      overflow-x: hidden; 
    }
  
    .columns-container {
      flex-direction: column;
      align-items: center;
      overflow-x: hidden; 
      overflow-y: visible;
      padding-bottom: 0;
      gap: 15px;
    }
  }